


.Meniu_Button{
    display: flex;
    align-items: center;
}

.btn-meniu {
    overflow-x: hidden;
    background: var(--gray_gradient);
    background-size: 500%;
    border-radius: 0;
    padding: 0;
    margin: 3px;
    padding: 0;
    width: 96%;
    height: 96%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn-meniu[color="red"]
  {
    background: var(--red_gradient);
    background-size: 500%;
    border-radius: 0;
    padding: 0;
    margin: 3px;
    padding: 0;
    width: 96%;
    height: 96%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .btn-meniu[color="blue"]
  {
    background: var(--blue_gradient);
    background-size: 500%;
    border-radius: 0;
    padding: 0;
    margin: 3px;
    padding: 0;
    width: 96%;
    height: 96%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.05em;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .btn-meniu:hover {
    transform: scale(0.9);
    animation-name: gradient;
    -webkit-animation-name: gradient;
    animation-duration: 1.5s;
    -webkit-animation-duration: s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .btn-meniu[corner="top"]
  {
      border-radius: 50px 0 0 0;
  }

  .btn-meniu[corner="bot"]
  {
      border-radius: 0 0 0 50px;
  }
  
  .btn-meniu:active{
      transform: scale(.95);
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100%;
    }
  }