.App {
  text-align: center;
  height: 100%;
}

body > #root > div {
  height: 100vh;
}

.Navbar-space{
  height: 40px;
}

.Page-content-space{
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slide{
  0%{
      transform: translateX(100%);
  }
  100%{
      transform: translateX(0%);
  }
}