.App {
  text-align: center;
  height: 100%;
}

body > #root > div {
  height: 100vh;
}


.Navbar-space{
  background-color: rgba(39, 38, 38, 0.603);
  min-height: 32px;
  height:5vh;
  max-height:5vh;
}

.Page-content-space{
  background: rgb(0, 0, 0);
  height:auto;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
