.ViewNewsSpace-Paragraphes {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: left;
}

.ViewNewsSpace-Paragraph {
    display: flex;
    flex-direction: row;
}

.ViewNewsSpace-Paragraph-Color {
    width: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    border-bottom: 1px solid #000;
}

.ViewNewsSpace-Paragraph-Text {
    width: 100%;
    margin: 20px;
}

.ViewNewsSpace-Paragraph-Color:hover{
    font-size: 14px;
}
