.statsPage{
    width: 100%;
    height: 100%;
}

.statsPage-content-Average{
    margin: 20px;
}

.statsPage-content-Sources{
    margin: 20px;
}

.statsPage-content-Average-item{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    background: rgba(130, 130, 130, 0.75);
    padding: 10px;
    border-radius: 20px;
}

.statsPage-content{
    display: flex;
    flex-wrap: wrap;
}

.statsPage-content-Average-items{
    font-size: 20px;
}

.statsPage-content-Average-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.statsPage-content-Average-item-value{
    margin-left: auto;
    margin-right: 10px;
}