.dropdown {
    position:absolute;
    top:max(4vh - 3px ,50px);
    right: 0vw;
    font-size:max(0.75vw, 15px);
    min-width: 180px;
    width: 15vw;
    height: auto;
    max-width: 100%;
    background:gray;
    border: var(--border);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    overflow: hidden;
    transition: height var(--speed) ease;
    z-index: 2;
  }
  

  .close-menu{
    width: 0;
  }

  .menu {
    width: 100%;
  }
  
  .menu-item {
    min-width: 160px;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0.5rem;
    color: black;
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }
  
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
  .menu-item:hover {
    animation: color 0.5s;
    background-color: var(--pastel_3);
    color: black;
  }
  
  .icon-right {
    margin-left: auto;
  }
  
  /* CSSTransition classes  */


  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }

  .menu-secondary-exit {
  
  }
  
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }

  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);

    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.1);
    scale: 1.2;
  }
  
  .icon-button svg { 
    fill: black;
    width: 25px;
    height: 25px;
  }

  .icon-right svg { 
    fill: var(--text-color);
    width: 15px;
    height: 15px;
  }

  @keyframes color {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: var(--pastel_3)  ;
    }
  }