
.navbar {
  -webkit-appearance: none;
  background: rgba(0 ,0, 0, 0.95);
  padding: 0 ;
  margin: 0;
  border-bottom: var(--border);
  display:flex;
  justify-content: flex-start; 
  width: 100%;
  height: 40px;
  }




.navbar-nav {
  margin-right: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Inputfield{
  color: white;
  background-color: transparent;
  height: auto;
  max-width: 600px;
  font-weight: bold;
  margin: 0;
  border: 0;
  width:calc(100%);
  border-left: 2px solid var(--pastel_1);
  transition: border-color 0.2s;
  cursor: pointer;
  animation: scaleReverse 0.2s 1;
}


.Inputfield:hover{
  color: white;
  transform:scale(1.03);
  animation: scale 0.2s 1;
}


.Inputfield:focus {
  color: white;
  transform:scale(1.03);
  outline: 0px;
}

.SearchBox{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 60vw;
  margin: 0px;
  height: 40px;
}

.Search-Button{
  border-right: 2px solid var(--pastel_1);
  display:flex;
  justify-content: flex-start;
  height: 100%;
  z-index: 2;
}

.left-box{
  height: 40px;
  min-width: fit-content;
  width: 20vw;
  padding-right: 5px;
  margin: 0;
  border: 0;
  font-size:max(0.75vw, 15px);
  display: flex;
  justify-content:left;
  align-items: center;
  flex-direction:row;
  text-align: center;
  overflow: hidden;
}

.left-box > a{
  text-align: center;
  padding-left: max(0.75vw, 16px);;
  padding-right: max(0.75vw, 16px);;
  text-align: center;
  cursor:pointer;
  color: var(--pastel_4);
  font-size:max(0.75vw, 16px);
  overflow: hidden;
  border-left: 13px;
  border-color: red;
}

.left-box > a:hover{
  padding-left: max(0.75vw, 16px);;
  padding-right: max(0.75vw, 16px);;
  transform:scale(1.03);
  color: var(--pastel_3);
  animation: scale 0.05s 1;
}


.right-box{
  height: 40px;
  width: 20vw;
  min-width: 50px;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.right-box > .nav-item > .icon-button{
  fill: var(--pastel_3);
}

.Search-Button > a > .nav-item > .icon-button{
  fill: var(--pastel_3);
}

.HomeButton{
  display: flex;
  justify-content: center;
  background: transparent;
}


@keyframes scale {
  0% {
    transform:scale(1);
  }
  100% {
    transform:scale(1.03);
  }
}

@keyframes scaleReverse {
  0% {
    transform:scale(1.03);
  }
  100% {
    transform:scale(1);
  }
}