
.navbar {
  -webkit-appearance: none;
  background: var(--pastel_2);
  padding: 0 ;
  margin: 0;
  border-bottom: var(--border);
  display:flex;
  justify-content: flex-start; 
  width: 100%;
  min-height: 50px;
  height:calc(4vh - 3px );
  border-bottom: 3px solid black;
  }


.navbar-nav {
  margin-right: 0;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Inputfield{
  color: white;
  background-color: transparent;
  height: auto;
  max-width: 600px;
  font-weight: bold;
  margin: 0;
  border: 0;
  width:calc(100% - 80px);
  transition: border-color 0.2s;
  cursor: pointer;
  animation: scaleReverse 0.2s 1;
}


.Inputfield:hover{
  color: white;
  scale: 1.05;
  animation: scale 0.2s 1;
}


.Inputfield:focus {
  color: white;
  scale: 1.05;
  outline: 0px;
}

.SearchBox{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 60vw;
  margin: 0px;
  min-height: 50px;
  height:calc(4vh - 3px );
  border-right: 2px solid black;
}

.Search-Button{
  display:flex;
  justify-content: flex-start;
  height: 100%;
  z-index: 2;
}

.left-box{
  min-height: 50px;
  min-width: fit-content;
  height:calc(4vh - 3px );
  width: 20vw;
  padding: 0;
  margin: 0;
  border: 0;
  border-right: 2px solid black;
  font-size:max(0.75vw, 15px);
  display: flex;
  justify-content:left;
  align-items: center;
  flex-direction:row;
  text-align: center;
  overflow: hidden;
}

.left-box > a{
  text-align: center;
  padding-left: max(0.75vw, 16px);;
  padding-right: max(0.75vw, 16px);;
  text-align: center;
  cursor:pointer;
  color: var(--pastel_4);
  font-size:max(0.75vw, 16px);
  overflow: hidden;
}

.left-box > a:hover{
  padding-left: max(0.75vw, 16px);;
  padding-right: max(0.75vw, 16px);;
  scale: 1.1;
  color: var(--pastel_3);
  animation: scale 0.05s 1;
}


.right-box{
  min-height: 50px;
  width: 20vw;
  min-width: 50px;
  height:calc(4vh - 3px);
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.HomeButton{
  display: flex;
  justify-content: center;
  background: transparent;
}


@keyframes scale {
  0% {
    scale: 1.0;
  }
  100% {
    scale: 1.05;
  }
}

@keyframes scaleReverse {
  0% {
    scale: 1.05;
  }
  100% {
    scale: 1.0;
  }
}